* {
    margin: 0;
    padding: 0;
    /* border: none; */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-image: url('/images/backgrounds/background_10.jpg');
    background-size: cover;
}

.wrapper {
    max-width: 1200px;
    min-width: 320px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-image: url(/images/backgrounds/fon8.gif);
}

.container {
    display: block;
    flex-basis: 30%;
}