/*  {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
} */

/* ! -------------------------------- GLOBAL style -------------------------------- */
@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url(/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

html,
body {
    height: 100%;
    background-image: url('/images/backgrounds/background_10.jpg');
    background-size: cover;

    font-family: 'Comfortaa-VariableFont_wght';

}

.wrapper {
    min-height: 100%;
    background-image: url(/images/backgrounds/fon8.gif);
    min-width: 320px;
    padding: 0;
}

*.nav-link:hover {
    transition: all .8s;
}

/* ! -------------------------------- HEADER style -------------------------------- */
.header {
    background-color: #11acac;
    font-size: 20px;
}

.navbar a {
    color: aliceblue;
}

.header-logo {
    font-size: 26pt;
}

.header-logo:hover {
    opacity: .7;
}

ul.dropdown-menu {
    background-color: #11acac;
}

a.dropdown-item {
    font-size: 20px;
}

a.dropdown-item:hover {
    background-color: #11acac;
}

/* ! -------------------------------- SLIDER style -------------------------------- */
.carousel,
.carousel-inner,
.carousel-item {
    border-radius: 5px;
}

.carousel-caption-edit {
    width: max-content;
    position: absolute;
    right: 15%;
    bottom: 0.2rem;
    left: 15%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: #fff;
    /* text-align: center; */
    background-color: rgba(140, 139, 139, .7);
}

.carousel-caption-edit h1,
.carousel-caption-edit h2,
.carousel-caption-edit h3,
.carousel-caption-edit h4,
.carousel-caption-edit h5,
.carousel-caption-edit h6 {
    margin: 0;
}

/* ! -------------------------------- BLOCK-CONTENT style -------------------------------- */
/* ! -------------------------------- MAIN style -------------------------------- */
/* .main p {
    margin: 0;
} */

.main-title {
    margin: 10px 0 20px;
}

.post {
    background: rgb(250, 250, 250);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.post .nav-link {
    color: rgba(34, 37, 41, .8);
}

.post .nav-link:hover {
    color: rgb(30, 106, 172);
    text-decoration: underline;
}

/* ! -------------------------------- ASIDE style -------------------------------- */

.aside .section {
    background: rgb(250, 250, 250);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.aside p {
    margin: 0;
}

.aside .aside-list {
    list-style: none;
    padding-left: 10px;
}

.aside .search-input {
    border: 2px solid rgba(50, 50, 50, .6);
}

.aside .search-btn {
    color: rgb(50, 50, 50);
    border: 2px solid rgb(50, 50, 50);
    font-weight: 700;
    transition: all .5s;
}

.aside .search-btn:hover {
    color: rgb(36, 124, 201);
    background-color: rgb(240, 240, 240);
}

.aside a.nav-link:hover {
    /* width: max-content; */
    margin-left: 5px;
    color: rgb(36, 124, 201);
    font-weight: 700;

}

/* ! -------------------------------- FOOTER style -------------------------------- */
.footer {
    min-height: 100px;
    background-color: rgb(154, 153, 153);
    color: aliceblue;
}

.footer p {
    margin-bottom: 5px;
    padding: 5px;
}

.footer .form-control {
    background-color: rgb(224, 223, 223);
    color: #000;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5 {
    padding: 5px;
    color: rgb(46, 34, 141)
}

.footer h6 {
    color: #102222;
}

.footer .socials .fab {
    font-size: 20px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

.footer .socials .fab:hover {
    border: 1px solid #e8e3e3;
    transition: all .5s;
}

.footer .footer-links ul {
    padding: 10px;
}

.footer .nav-link {
    font-size: 20px;
}

.footer .nav-link:hover {
    color: #102222;
}


/* ! -------------------------------- GLOBAL style -------------------------------- */
/* ! -------------------------------- GLOBAL style -------------------------------- */
/* ! -------------------------------- GLOBAL style -------------------------------- */
/* ! -------------------------------- GLOBAL style -------------------------------- */
/* ! -------------------------------- GLOBAL style -------------------------------- */
/* ! -------------------------------- GLOBAL style -------------------------------- */
/* ! -------------------------------- GLOBAL style -------------------------------- */