# Версия файла 1.1 от 26.03.2020
# Файл подготовлен командой https://seoup.su/ , пишите свои вопросы и предложения.
#
# Символ ^ обозначает начало строки.
# Символ $ обозначает конец строки.
# Символ . обозначает любой символ.
# Символ | обозначает альтернативу. Например, выражения "A|B" означают "A или B".
# Символ ? ставится после символа (группы), который может как присутствовать, так и отсутствовать.
# Символ * ставится после символа (группы), который может отсутствовать или присутствовать неограниченное число раз подряд.
# Символ + действует аналогично символу * с разницей, что предшествующий ему символ должен присутствовать хотя бы один раз.
# Символ \ ставится перед спецсимволами, если они нужны в своем первозданном виде.
# Набор ( ) используются для выделения групп символов. В дальнейшем к ним можно обращаться по номеру.
# Набор [ ] используются для перечисления допустимых символов.
# Набор [^ ] используются для перечисления недоступных символов.
# Все, что расположено после символа '#', считается комментарием.
#
# Переменные вида %{HTTP_HOST} описание:
# HTTP_USER_AGENT Содержит информацию о типе и версии браузера и операционной системы посетителя.
# HTTP_REFERER Приводится адрес страницы, с которой посетитель пришёл на данную страницу.
# HTTP_COOKIE Список COOKIE, передаваемых браузером
# HTTP_FORWARDED Страница непосредственно, с которой перешел пользователь
# HTTP_HOST Адрес сервера, например, site.ru
# HTTP_ACCEPT Описываются предпочтения клиента относительно типа документа.
# REMOTE_ADDR IP-адрес посетителя.
# REMOTE_HOST адрес посетителя в нормальной форме — например, 23.beeline.ru
# REMOTE_IDENT Имя удаленного пользователя. Имеет формат имя.хост, например, starter.www.rutt.net.ru
# REMOTE_USER Тоже, что и REMOTE_IDENT, но содержит только имя. Пример: starter
# REQUEST_METHOD Позволяет определить тип запроса (GET или POST). Должен обязательно анализироваться, т.к. определяет дальнейший способ обработки информации
# SCRIPT_FILENAME Полный путь к веб-странице на сервере.
# PATH_INFO Содержит в себе все, что передавалось в скрипт.
# QUERY_STRING Содержит строчку, переданную в качестве запроса при вызове CGI скрипта.
# AUTH_TYPE Используется для идентификации пользователя
# DOCUMENT_ROOT Содержит путь к корневой директории сервера.
# SERVER_ADMIN Почтовый адрес владельца сервера, указанный при установке.
# SERVER_NAME Адрес сервера, типа idea.site.ru
# SERVER_ADDR IP-адрес вашего сайта.
# SERVER_PORT Порт, на котором работает Apache.
# SERVER_PROTOCOL Версия HTTP протокола.
# SERVER_SOFTWARE Название сервера, например, Apache/1.3.2 (Unix)
# TIME_YEAR TIME_MON TIME_DAY TIME_HOUR TIME_MIN TIME_SEC TIME_WDAY TIME Переменные предназначены для работы со временем в разных форматах.
# API_VERSION Это версия API модуля Apache (внутренний интерфейс между сервером и модулем) в текущей сборке сервера, что определено в include/ap_mmn.h.
# THE_REQUEST Полная строка HTTP запроса отправленная браузером серверу (т.е., «GET /index.html HTTP/1.1»). Она не включает какие-либо дополнительные заголовки отправляемые браузером.
# REQUEST_URI Ресурс, запрошенный в строке HTTP запроса.
# REQUEST_FILENAME Полный путь в файловой системе сервера к файлу или скрипту соответствующим этому запросу.
# IS_SUBREQ Будет содержать текст «true» если запрос выполняется в текущий момент как подзапрос, «false» в другом случае. Подзапросы могут быть сгенерированы модулями которым нужно иметь дело с дополнительными файлами или URI для того чтобы выполнить собственные задачи.
#
# Флаги состояния для RewriteRule
# [C] Chain — объединяет несколько правил в цепочку. Если первое правило цепочки не срабатывает, то вся цепочка игнорируется.
# [F] Forbidden — возвращает ошибку 403 Forbidden (запрещено).
# [G] Gone — возвращает ошибку 410 Gone (удалён).
# [L] Last — останавливает процесс преобразования, и текущая ссылка считается окончательной.
# [N] Next — запускает процесс преобразования с первого по порядку правила.
# [NS] NoSubreq — разрешает срабатывание правила только для настоящих запросов, игнорируя подзапросы.
# [NC] NoCase — отключает проверку регистра символов.
# [P] Proxy — даёт команду Apache выполнить подзапрос к указанной странице с использованием программного модуля mod_proxy, при этом пользователь ничего не узнает об этом подзапросе. Если модуль mod_proxy отсутствует,то произойдет ошибка.
# [PT] PassThrough — останавливает процесс преобразования и передает полученную новую ссылку дальше по цепочке.
# [QSA] Qsappend — добавляет исходные параметры запроса (Query String) к замене. Если замена не включает в себя новые параметры запроса, то исходные параметры запроса добавляются автоматически. Если же включает, то без флага QSA исходные параметры запроса будут утеряны.
# [R] Redirect — останавливает процесс преобразования и возвращает результат браузеру клиента как редирект на новую страницу. По умолчанию передаётся HTTP-код 302 Moved Temporarily (перемещено временно), но его можно изменить путём присвоения нового статуса через знак равенства [R=301]
# [S] Skip — пропускает следующее правило, если текущее правило сработало. Можно указать количество последующих игнорируемых правил [S=2]
# [OR] Or - означает "или" следующее условие за ним
# -d каталог, можно исключать !-d
# -f файл
# -s файл с ненулевым размером
# -l символическая ссылка
# 
# Значения для Options где "-" выключить "+" включить:
# ExecCGI –запуск CGI скриптов. Лучше разрешать только для конкретных папок, повысит безопасность.
# Indexes –отображать содержимое каталогов, если в них нет индексного index-файла.
# Includes – работа SSI (Server Side Include), используется для динамического подключения HTML при этом файл должен оканчиваться расширением .shtml, .stm или .shtm
# FollowSymLinks – использовать ли символические ссылки на файлы или каталоги, не находящиеся в пределах корня вашего сайта.
# MultiViews - просматривает директорию на наличие файла по маске и отдает первый найденный, умное устранение 404



# OPTIONS # ОБЩИЕ НАСТРОЙКИ #
Options All -ExecCGI -Indexes -Includes +FollowSymLinks
#Options -MultiViews

# CHARSET # УСТАНОВКА КОДИРОВКИ #
AddDefaultCharset UTF-8
#php_flag default_charset UTF-8
AddCharset utf-8 .html .css .js .txt .json .rss .xml .php

# Включает и выключает все ошибки и предупреждения!!!
php_value display_startup_errors on
php_value display_errors on

# Выключает все ошибки и предупреждения!!!
#php_flag display_startup_errors off
#php_flag display_errors off

# SERVER # СЕРВЕР скрываем версию #
#ServerTokens ProductOnly
ServerSignature Off

# Уведомления о проблемах сервера на e-mail +++
#ServerSignature EMail
#SetEnv SERVER_ADMIN info@site.ru


 #Включаем обработку правил для Rewrite*
 RewriteEngine On
 #Для удобства обрезаем полный путь (от корня сервера) до корня сайта
 #RewriteBase /
 #Любой ошибочный запрос редиректится на INDEX.PHP
 RewriteRule .* index.php [L]
